/* Container Styles */
.manage-categories-container {
  padding: 20px;
}

/* Manage Categories Section Styles */
.manage-categories-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Add Category Section Styles */
.add-category-section {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
.add-category-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-category-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-category-btn {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-category-btn:hover {
  background-color: #0056b3;
}

/* Category Table Section Styles */
.category-table-section {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Table Styles */
.manage-categories-table {
  width: 100%;
}

.category-row:nth-child(even) {
  background-color: #f8f9fa;
}

.category-row:hover {
  background-color: #e9ecef;
}

/* Button Styles */
.delete-category-btn,
.edit-category-btn {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.delete-category-btn {
  background-color: #dc3545;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.delete-category-btn:hover {
  background-color: #c82333;
}

.edit-category-btn {
  background-color: #28a745;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.edit-category-btn:hover {
  background-color: #218838;
}

.edbtn{
  display: flex;
}