.footer-container {
    background-color: #a3c4b9;
    padding: 10px;
    width: 100%;
    bottom: 1px;
  }
  
  .footer-section {
    padding: 0 20px;
  }
  
  .footer-heading {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-right: 2px;
    font-size: 14px;
  }
  
  .footer-link {
    color: #333;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .footer-contact {
    margin-top: 20px;
    justify-content: center;
  }
  
  .footer-contact-item {
    margin-bottom: 10px;
  }
  