/* Search Results Heading */
.search-results-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Search Result Item */
  .search-result-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px;
  }
  .searchBox{
    height: 30px;
    border: 2px solid transparent;
    border-radius: 30px;
  }
  .searchButton{
    border: none;
    margin-left: 8px;
    border-radius: 10px;
    background-color: aqua;
    font-weight: bold;
    font-size: 19px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
    }
   .searchButton:hover{
      background-color: #050504;
      color: white;
    }
.cartIcon{
  font-size: 18px;
  margin-right: 8px;
  color: #f0ebe8;
  
}
  /* Search Result Description */
  .search-result-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  /* Search Result Price */
  .search-result-price {
    font-weight: bold;
    color: #ff6f00;
  }
  
  /* Add to Cart Button */
  .add-to-cart-btn {
    background-color: #ff6f00;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: #e65c00;
  }
  
  /* Cart Icon */
  .cart-icon {
    font-size: 18px;
    margin-right: 8px;
  } 

  .form-select{
    border-radius: 20px;
    border: none;
    color: #050504;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 19px;
    outline: none;
    padding: 8px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f2f2f2;
    

  }